body{
    font-family: 'EB Garamond', serif;
    margin: 0;
}
.container{
    margin-bottom: 100px;
}
h1,h2,h3{
    font-weight: 500px;
}
h2{
    color: grey;
}

/* school-name */


.school-name{
    text-align: center;
    text-shadow: 1px 3px lightgrey;
}


 /* houses */


 .card img{
    height: 600px;
    width: 535px;
}
.card{
    border-radius: 10px;
}
#gryffindor{
    box-shadow: 5px 5px 12px rgb(252, 6, 6);
}
#hufflepuff{
    box-shadow: 5px 5px 12px yellow;
}
#slytherin{
    box-shadow: 5px 5px 12px green;
}
#ravenclaw{
    box-shadow: 5px 5px 12px blue;
}
.card p{
    color: grey;
}
.btn{
    margin-left: 180px;
}


/* sports */


h1,h2,h3{
    text-align: center;
}
p{
    color: grey;
}
.animation{
    transition: padding-left 5s ease-out .1s;
}
.animation:hover{
    padding-left: 800px;
}
/* quidditch */

#sports img{
    height: 330px;
    width: 500px;
}
.col-md-12 p{
    color: grey;
    padding-top: 70px;
}

/* how-to-reach-hogwarts */


.platform{
    padding-top: 60px;
}
.journey img{
    height: 330px;
    width: 500px;
    padding-top: 50px;
}


/* necessary-items-to-buy */

.buy img{
    height: 400px;
    width: 350px;
    padding-right: 25px;
    padding-top: 5px;
}
.card{
    box-shadow: 5px 5px 12px grey;
}